.lavenderBackground{
    background-color: #967bb6;
}

body{
    background-color: whitesmoke;
  
}


.main_box{
    display:flex;
    position: relative;
    justify-content: space-around;
    
}
.button_img{
    height: 40vh;
    width: 25vw;
}


.snacks{
    text-align: center;
    background-color: white;
    border: 5px solid red;
    border-radius: 50%;
    padding: 45px;
}

.cinema{
    text-align: center;
    background-color: white;
    border: 5px solid red;
    border-radius: 50%;
    padding: 45px;
}

.duty_schedule{
    text-align: center;
    background-color: white;
    border: 5px solid red;
    border-radius: 50%;
    padding: 45px;
}
#header{
    display: flex;
    justify-content: center;
    
}
#name_header{
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px red;
    
}