html, body {
    margin: 20px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    vertical-align: middle;

    height: 80px !important;
}

#vagtCalendar {
    max-width: 1100px;
    margin: 40px auto;
}

.fc-view-harness {
    background-color: white;
    border: 2px solid black;
    height: 738px !important;
}

.syg {
    background-color: yellow;
    
}
.syg .fc-event-main {
    color: black;
}

.normal {
    background-color: blue;
}
.nav-logo {
    position: absolute;
    left: 20px;
    top: 0px;
    width: auto;
    height: 70px;
  }